{% extends "display/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

{% endblock styles %}
{% block body %}
<div class="container">
    <div class="title">
        {{block.super}}
    </div>
    <div class="photo-cont">
        {% for detail in details %}
        <div class="ind-photo">
            <img src="{{detail.category_image.url}}" class="img-fluid">
            <div id="modal-btn">
                <h1>{{ detail.name }}</h1>
                <p class="content">{{detail.description}}</p>
                <div class="text-center">
                    <a class="btn btn-light" role="button" href="{% url 'categoryview' categoryId=detail.id %}">
                        <p>More</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock body %}
    {% block scripts %}
    {% bootstrap_javascript  %}
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
    {% endblock scripts %}