{% extends "display/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}
{% block body %}
<section class="container bg-warning">
    <div class="p-5">
        {{block.super}}
    </div>
    <div class="container">
        <div class="container-fluid d-flex flex-wrap">
            {% for detail in details %}
            <div class="row ">
                <div class="col-md-4 m-2">
                    <img src="{{detail.category_image.url}}" class="" width="300px" >
                    <h1>{{ detail.name }}</h1>
                    <p class="content">{{detail.description}}</p>
                    <a class="btn btn-light" role="button" href="{% url 'categoryview' categoryId=detail.id %}">More</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock body %}
{% block scripts %}
{% bootstrap_javascript  %}
<script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock scripts %}