{% extends "display/base.html" %}

    
    {% block body %}
    <h2>Photos shot in {{location.name}}</h2>

    {% for image in images %}
    <div class="row">
        <div class="col-md-6 m-2">
            <img src="{{image.image_file.url}}" class="img-fluid border" alt="">
            <!-- <button class="btn btn-dark m-2">Details</button> -->
            <!-- Button trigger modal -->
            <a href="" role="button" class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <!-- <a href="{{ path('image_show', {'id': image.id}) }}"> -->
                Details</a>
        </div>
    </div>
    {% endfor %}

    {% endblock  body%}