<!-- Modal -->
<div class="modal fade text-dark" id="imageModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-dark" id="#{{photo.name}}">{{ photo.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{{photo.image_file.url}}" class="img-fluid"> <br>
            <p>{{ photo.description }}</p>
            {{ photo.category}} 
            <br /> {{ photo.location }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">copy image url</button>
        </div>
    </div>
</div>
</div>
<!-- End of modal -->
<!-- javascript copy logic -->
<script src="{% static 'js/modal.js' %}" type="text/javascript"></script>

