{% extends "display/base.html" %}
{% load static %}
{% block body %}
<div class="container">

    <h1 class="title text-center lead">All photos</h1>

    <div class="photos d-flex flex-wrap">
        {% for photo in photos %}
        <div class="row border m-2 text-center justify-content-center">
            <div class="col-md-6 col-lg-6  m-2 ">
                <img src="{{photo.image_file.url}}" class="img-fluid" alt="">
                <!-- <button class="btn btn-dark m-2">Details</button> -->
                <!-- Button trigger modal -->
                <a href="" role="button" class="btn btn-dark m-2" data-bs-toggle="modal"
                    data-bs-target="#imageModal{{photo.id}}">
                    Details</a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade text-dark" id="imageModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="#{{photo.name}}">{{ photo.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{photo.image_file.url}}" class="img-fluid"> <br>
                        <p>{{ photo.category.name }}</p>
                        {{ photo.category}}
                        <br /> {{ photo.location }}
                        {{photo.dated}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">copy image url</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of modal -->
        <!-- javascript copy logic -->
        <script src="{% static 'js/modal.js' %}" type="text/javascript"></script>

        {% endfor %}
    </div>


</div>

{% endblock body %}