<div class="container">
    <nav class="navbar navbar-expand-lg bg-light rounded p-5" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand fw-5 text-dark" href="/">PHOTO GALLERY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allphotos' %}">All Photos</a>
                    </li>
                    {% for detail in details %}
                    <li>
                    <a class="btn btn-light" role="button" href="{% url 'categoryview' categoryId=detail.id %}">{{ detail.name }}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                            aria-expanded="false">Location</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown09">
                            <li><a class="dropdown-item" href="#">Mombasa</a></li>
                            <li><a class="dropdown-item" href="#">Kisumu</a></li>
                            <li><a class="dropdown-item" href="#">Nairobi</a></li>
                            <li><a class="dropdown-item" href="#">New York</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</div>