{%extends 'display/base.html'%}
{% load static %}
{% load bootstrap5 %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}
{% block body %}
<div class="container bg-warning mt-5">
    <div class="row">
        {% if terms%}
        <h2>Found {{ terms|length }} categories for searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 items for the searched term {{message}}</h2> <br>
        {% endif %}
    </div>
    <div class="row">
        {% if terms %}
        {% for term in terms %}
        <div class="col-sm-6 col-md-3">
            <h1>{{term.name}}</h1>
            <a href="{{term.category_image.url}}" class="thumbnail">
                <img src="{{term.category_image.url}}" class="img-fluid" alt="{{term.name}}">
                <br>
                <a class="btn btn-light m-3" role="button"
                href="{% url 'categoryview' categoryId=term.id %}">view Category</a>
        </div>
        {% endfor %}

        {% endif %}
    </div>
</div>
{% endblock %}