body {
    margin: 40px 0;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    background-color: #BCAAA4;
    -webkit-font-smoothing: antialiased;
}

/* .title {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

p {
    line-height: 1.5em;
}

h1 + p, p + p {
    margin-top: 10px;
} */
